body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2d549e;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 35%;
}

nav li {
    padding: 10px;
    list-style: none;
}

nav ul a {
    color: #e6e6e6;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}

.profile-photo {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-text {
    display: block;
    text-align: center;
}

.section-title {
    padding: 20px; 
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-block {
    padding: 10px;
    flex-direction: row;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 10px auto;
}

.zoom:hover {
    transform: scale(1.1);
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-block {
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 400px;
    border-style: solid;
    border-color: #2d549e;
    margin: 10px;
}

.project-title {
    margin: 10px;
}

.project-title-and-link {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.project-photo {
    max-width: 10vh;
    max-height: 10vh;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: 10px;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.resume-button {
    background-color: #2d549e;
    border-style: solid;
    border-width: 2px;
    border-color: #e6e6e6;
}

.resume-button:hover {
    background-color: black;
    color: white;
}

.github-button {
    background-color: white; 
    color: black; 
    border: 2px solid #6e5494;
}
  
.github-button:hover {
    background-color: #6e5494;
    color: white;
}

.demo-button {
    background-color: white; 
    color: black; 
    border: 2px solid #1d833d;
}
    
.demo-button:hover {
    background-color: #1d833d;
    color: white;
}

.footer {
    padding: 10px;
    text-align: center;
    height: 20px;
    background-color: #2d549e;
    color: #e6e6e6;
    padding-bottom: -50px;
}

.img {
    width:100%;
}

.center-images {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
}

.thumbs {
    width:150px;
}

.post-title {
    margin: 50px;
    text-align: center;
}

.post-title-photo {
    width: 50%;
}

.section-title {
    margin-top: 50px;
}

.blog-h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.blog-h3 {
    margin-left: 40px;
    margin-right: 40px;
}

.blog-h4 {
    text-emphasis: bold;
    margin-left: 50px;
    margin-right: 50px;
}

.blog-p {
    margin-left: 60px;
    margin-right: 60px;
}
