body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2d549e;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

li {
    list-style: none;
}

nav ul a {
    color: #e6e6e6;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.nav-container > li {
    margin: 10px;
}

img {
    padding: 20px;
}

.section-title {
    padding: 20px; 
}